<div style="height: 100%; display: grid; grid-template-rows: 7% 93%;">
  <div class="toolbar" role="banner" style="grid-row: 1;">
    <img height=90%
         alt="Vakıfbank"
         src="assets/vakifbank.png" />
    <span style="font-size: 18px; font-weight: 600;">GalleYann Konferans Uygulaması</span>
    <div style="flex: 1;"></div>
    <div id="peerRegion" style="display: none; align-items: center; height: 100%;">
      <p>Peer ID: </p>
      <p id="toolbarText">{{ peerIdText }}</p>
      <button (click)="copyClipboard()" style="background: transparent; border: none; margin: 0px 10px; padding: 0; height: 70%;">
        <img src="assets/copy.png" style="margin: 0; height: 100%;" />
      </button>
    </div>
    <div style="flex: 15;"></div>
  </div>
  <div style="grid-row: 2;">
    <router-outlet></router-outlet>
  </div>
</div>
