.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/assets/galleLogin.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-color: #fafafa;
}

.box {
  width: 230px;
  display: flex;
  flex-direction: column;
  background-color: #ffffffbf;
  margin: 2% 5%;
  padding: 10px;
}

.myButton {
  margin: 15px 0;
  background-color: #fcba00;
  height: 30px;
  font-size: 14px;
  width: 220px;
  border: none;
}

.myButton:disabled {
  background-color: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 10px;
  width: 200px;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

.card svg.material-icons path {
  fill: #888;
}

.error {
  color: red;
  text-align: center;
  margin-top: 5px;
}
