<div style="margin: 3%;">
  <div class="card-container">
    <button class="card" (click)="createRoom()" style="background-color: #fcba00;">
      <span style="color: white;">Oda oluştur</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
      </svg>
    </button>
  </div>
  <div class="card-container">
    Veya
  </div>
  <div class="card-container">
    <input placeholder="Oda numarasını giriniz" style="text-align: center;" class="card" type="text" #roomNumber/>
    <button class="card" (click)="connect(roomNumber.value)"  style="background-color: #fcba00;">
      <span style="color: white;">Oda numarası ile bağlan</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
      </svg>
    </button>
  </div>
</div>
